/*
 * Twitter Bootstrap
*/

div.tooltip-inner {max-width: 400px;}



/*
 * fontawesome-iconpicker
*/

.iconpicker-popover.popover {width: 100%;}
.iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {margin: 0px;}



/*
 * HTML layout
*/

html {height: 100%;}
body {background-color: #2c3e50; margin-top: 40px; height: calc(100% - 40px);}

@media (min-width: 768px) {
    body {margin-top: 40px;height: calc(100% - 40px);}
    #page-wrapper {padding: 15px;}
}

@media (min-width: 768px) {
    .side-nav {top: 40px;}
}

.navbar {
    min-height: 40px;
}
.navbar-brand {
    height: 40px;
}
.navbar li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#wrapper {height: 100%;}
#page-wrapper {min-height: 100%; padding-bottom: 33px;}

.navbar-fixed-bottom {min-height: 18px; height: 18px;}
.navbar-fixed-bottom .container-fluid {overflow: hidden;}
.navbar-fixed-bottom {color: white;}

.top-nav {padding-left: 0px;}

.side-nav {
    background-color: #2c3e50;
}

.navbar li.active,
.navbar li.open > a,
.navbar li.open a:hover,
.navbar li.active a:hover {
    background-color: #1a242f !important;
}
.navbar li a:focus,
.navbar li a:hover {
    background-color: inherit !important;
}

.side-nav .badge {color: black; background-color: #fff; font-size: 11px; margin-top: 3px;}
.side-nav .badge-danger {background-color: #e74c3c;}
.side-nav .badge-warning {background-color: #f39c12;}
.side-nav .badge-success {background-color: #18bc9c;}

.table .input-group-addon {width:auto;}

.alert a {
    color: inherit;
    text-decoration: underline;
}

/*
 * Page wrapper content
*/

ul.help-block {list-style-type: none;}

.panel-footer .pager {margin: 0px;}


/*
 * Specific page content
*/

.panel-heading h3, .panel-heading a {color: inherit;}

#home-authenticated .list-group-item b {float: right;}

#account-index .tab-pane {padding: 15px;}
#envelope-index .tab-pane {padding: 15px;}

#account-operations-table > .panel > .table > tbody > tr > td:last-child {min-width: 82px; vertical-align: middle;}
#envelope-operations-table > .panel > .table > tbody > tr > td:last-child {min-width: 82px; vertical-align: middle;}
#account-operations-table > .panel > .table tr > td > select.disabled {display: none;}
#envelope-operations-table > .panel > .table tr > td > select.disabled {display: none;}
#envelope-operations-table > .panel > .table > tbody > tr > td > a:not(.btn) {color: inherit;}
#account-operations-table > .panel > .table > tbody > tr > td > a:not(.btn) {color: inherit;}
#account-operations-table .panel-footer {font-weight: bold;}
#envelope-operations-table .panel-footer {font-weight: bold;}

#account-allocation-main .well {font-weight: bold;}

#account-configuration-users .fa-star {display: inline-block; margin: 6px 5px;}

#account-configuration-recurring_operations > .panel > .table > tbody > tr > td > a:not(.btn) {color: inherit;}
#account-configuration-recurring_operations > .panel > .table tr > td > select.disabled {display: none;}
