/*
 * fontawesome-iconpicker
*/

.iconpicker-popover.popover {width: 100%;}
.iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {margin: 0px;}



/*
 * HTML layout
*/

html {height: 100%;}
body {background-color: #2c3e50; margin-top: 60px; height: calc(100% - 60px);}

@media (min-width: 768px) {
    body {margin-top: 60px;height: calc(100% - 60px);}
    #page-wrapper {padding: 15px;}
}

@media (min-width: 768px) {
    .side-nav {top: 60px;}
}

#wrapper {height: 100%;}
#page-wrapper {min-height: 100%; padding-bottom: 33px;}

.navbar-fixed-bottom {min-height: 23px; height: 23px;}
.navbar-fixed-bottom .container-fluid {overflow: hidden;}
.navbar-fixed-bottom {color: white;}

.top-nav {padding-left: 0px;}

.side-nav {
    background-color: #2c3e50;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus,
.navbar-default .nav .active,
.navbar-default .nav .active:focus,
.navbar-default .nav .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #1a242f !important;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: inherit !important;
}

.side-nav .badge {color: black; background-color: #fff; font-size: 11px; margin-top: 3px;}
.side-nav .badge-danger {background-color: #ff0039;}
.side-nav .badge-warning {background-color: #ff7518;}
.side-nav .badge-success {background-color: #3fb618;}



/*
 * Page wrapper content
*/

ul.help-block {list-style-type: none;}

.panel-footer .pagination {margin: 0px;}


/*
 * Specific page content
*/

#home-guest .panel-info h3 {color: white;}

#auth-authenticate .control-checkbox {padding-top: 14px;}

#account-index .tab-pane { padding: 15px;}
#envelope-index .tab-pane { padding: 15px;}
