/*
 * fontawesome-iconpicker
*/

.iconpicker-popover.popover {width: 100%;}
.iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {margin: 0px;}



/*
 * HTML layout
*/

html {height: 100%;}
body {height: calc(100% - 50px); margin-top: 50px;}

@media (min-width: 768px) {
    #page-wrapper {
        padding: 15px;
    }
}

#wrapper {height: 100%;}
#page-wrapper {min-height: 100%; padding-bottom: 33px;}

.navbar-fixed-bottom {min-height: 23px; height: 23px;}
.navbar-fixed-bottom .container-fluid {overflow: hidden;}
.navbar-fixed-bottom a {color: inherit;}

.top-nav {padding-left: 0px;}

.navbar-default .navbar-nav .active,
.navbar-default .navbar-nav .active:focus,
.navbar-default .navbar-nav .active:hover {
    color: #fff;
    background-color: #080808;
}

.side-nav .badge {color: black; background-color: #fff; font-size: 11px; margin-top: 3px;}
.side-nav .badge-danger {background-color: #ff0039;}
.side-nav .badge-warning {background-color: #ff7518;}
.side-nav .badge-success {background-color: #3fb618;}



/*
 * Page wrapper content
*/

ul.help-block {list-style-type: none;}

.panel-footer .pagination {margin: 0px;}


/*
 * Specific page content
*/

#home-guest .panel-info h3 {color: white;}

#auth-authenticate .control-checkbox {padding-top: 14px;}

#account-index .tab-pane { padding: 15px;}
#envelope-index .tab-pane { padding: 15px;}
