/*
 * fontawesome-iconpicker
*/

.iconpicker-popover.popover {width: 100%;}
.iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {margin: 0px;}



/*
 * Slider
*/

.price-box {
    margin: 0 auto;
    background: #E9E9E9;
    border-radius: 10px;
    padding: 40px 15px;
    width: 500px;
}

.ui-widget-content {
    border: 1px solid #bdc3c7;
    background: #e1e1e1;
    color: #222222;
    margin-top: 4px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 2.2em;
    cursor: default;
    margin: 0 -20px auto !important;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
    color: #FFFFFF;
    margin: 0 3px;
    font-size: 11px;
    opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider span,
.ui-slider span:focus {
    cursor: pointer;
    outline: none;
}

.price, .lead p {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    line-height: 60px;
}

h4.great {
    background: #00ac98;
    margin: 0 0 25px 0px;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow:    2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
    border-bottom: 1px solid #7f8c8d;
    /*display: inline;
    padding: 10px 5px;*/
    position: relative;
    padding-bottom: 20px;
}

.total:before {
    content: "";
    display: inline;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background: #7f8c8d;
    opacity: 0.5;
}

.price-slider {
    margin-bottom: 70px;
}

.form-pricing {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

.price-form {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

.price-slider .form-group {
    margin-bottom: 0;
}

.price-slider .form-group span.price {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
}

.help-text {
    display: block;
    margin-top: 32px;
    margin-bottom: 10px;
    color: #737373;
    position: absolute;
    /*margin-left: 20px;*/
    font-weight: 200;
    text-align: right;
    width: 188px;
}

.price-form label {
    font-weight: 200;
    font-size: 21px;
}

.ui-slider-range-min {
    background: #2980b9;
}



/*
 * HTML layout
*/

html {height: 100%;}
body {background-color: #2c3e50; margin-top: 60px; height: calc(100% - 60px);}

@media (min-width: 768px) {
    body {margin-top: 60px;height: calc(100% - 60px);}
    #page-wrapper {padding: 15px;}
}

@media (min-width: 768px) {
    .side-nav {top: 60px;}
}

#wrapper {height: 100%;}
#page-wrapper {min-height: 100%; padding-bottom: 33px;}

.navbar-fixed-bottom {min-height: 18px; height: 18px;}
.navbar-fixed-bottom .container-fluid {overflow: hidden;}
.navbar-fixed-bottom {color: white;}

.top-nav {padding-left: 0px;}

.side-nav {
    background-color: #2c3e50;
}

.navbar li.active,
.navbar li.open > a,
.navbar li.open a:hover,
.navbar li.active a:hover {
    background-color: #1a242f !important;
}
.navbar li a:focus,
.navbar li a:hover {
    background-color: inherit !important;
}

.side-nav .badge {color: black; background-color: #fff; font-size: 11px; margin-top: 3px;}
.side-nav .badge-danger {background-color: #e74c3c;}
.side-nav .badge-warning {background-color: #f39c12;}
.side-nav .badge-success {background-color: #18bc9c;}

.table .input-group-addon {width:auto;}

.alert a {
    color: inherit;
    text-decoration: underline;
}

/*
 * Page wrapper content
*/

ul.help-block {list-style-type: none;}

.panel-footer .pager {margin: 0px;}


/*
 * Specific page content
*/

#home-guest .panel-info h3 {color: white;}

#account-index .tab-pane {padding: 15px;}
#envelope-index .tab-pane {padding: 15px;}

#account-operations-table > .panel > .table > tbody > tr > td:last-child {min-width: 127px;}
#envelope-operations-table > .panel > .table > tbody > tr > td:last-child {min-width: 127px;}

#envelope-operations-table > .panel > .table > tbody > tr > td > a:not(.btn) {color: inherit;}
#account-operations-table > .panel > .table > tbody > tr > td > a:not(.btn) {color: inherit;}

#account-operations-table .panel-footer {font-weight: bold;}
#envelope-operations-table .panel-footer {font-weight: bold;}
